.new-password-wrapper {
  text-align: center;
  padding: 80px 0 140px 0;
  background: #fff !important;

  position: relative;
  .forget-password-bg-color-left {
    position: absolute;
    width: 656px;
    height: 592px;
    left: 0px;
    top: 0px;
    background: linear-gradient(89.96deg, #b1a7e4 18.53%, #8478ce 131.6%);
    opacity: 0.7;
    filter: blur(800px);
  }
  .forget-password-bg-color-right {
    position: absolute;
    width: 538px;
    height: 595px;
    right: 0px;
    top: 90px;
    /* GRADIANT 3 */
    background: linear-gradient(180deg, #40fbd7 0%, #fce14d 100%);
    opacity: 0.8;
    filter: blur(800px);
  }
  .heading {
    color: #2c2c2c;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .form-wrapper {
    max-width: 39.33%;
    margin: 0 auto;

    .sub-heading {
      margin: 16px 0;
    }
  }
}

.password-feild-wrapper {
  margin-bottom: 20px;

  .error-msg {
    text-align: left;
  }

  input {
    min-width: 100%;
    min-height: 78px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #b1a7e4;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &::placeholder{
      line-height: normal !important;
    }
  }

  .submit-btn {
    margin-top: 0;
  }
}