@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@font-face {
  font-family: 'Gotham-Black';
  src: url('fonts/Gotham/Gotham-Black.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('./fonts/Gotham/Gotham-Bold.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('./fonts/Gotham/Gotham-BookItalic.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('./fonts/Gotham/Gotham-Light.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('./fonts/Gotham/Gotham-Thin.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('./fonts/Gotham/Gotham-ThinItalic.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('./fonts/Gotham/Gotham-UltraItalic.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url('./fonts/Gotham/Gotham-XLight.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('./fonts/Gotham/Gotham-XLightItalic.otf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamBold';
  src: url('./fonts/Gotham/GothamBold.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamBoldItalic';
  src: url('./fonts/Gotham/GothamBoldItalic.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamBook';
  src: url('./fonts/Gotham/GothamBook.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GothamBookItalic';
  src: url('./fonts/Gotham/GothamBookItalic.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamLight';
  src: url('./fonts/Gotham/GothamLight.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamLightItalic';
  src: url('./fonts/Gotham/GothamLightItalic.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamMedium';
  src: url('./fonts/Gotham/GothamMedium.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
@font-face {
  font-family: 'GothamMediumItalic';
  src: url('./fonts/Gotham/GothamMediumItalic.ttf');
  font-style: normal;
  /* font-weight: 400; */
}
.section_container {
  width: 1170px !important;
  margin: 0 auto !important;
}
.popular_video_section_container {
  width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1170px) and (min-width: 320px) {
  .section_container {
    width: 100% !important;
    margin: 0 auto !important;
  }
}
