.footer-wrapper {
  display: flex;
  background: linear-gradient(180deg, #b1a7e4 0%, #8478ce 100%);
  // padding: 125px 50px 70px 50px;
  position: relative;
  z-index: 999;
  .footer-container {
    // width: 1170px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    // margin: 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 9999;
  }
  @media (min-width: 1600px) {
    // padding: 125px 387px 70px 387px;
  }

  .footer-logo {
    width: 20%;
  }

  .footer-links-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  .footer-links {
    a {
      display: block;
      margin-bottom: 12px;
      color: #fff;
      font-family: 'GothamBook';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      text-transform: capitalize;
    }

    .footer-links-heading {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-transform: capitalize;
      color: #ffffff;
      width: 90px;
    }

    &.social-icons {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
      a {
        background-color: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .footer_emails {
      display: block;
      margin-bottom: 12px;
      color: #fff;
      font-family: 'GothamBook';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      text-transform: none !important;
    }
  }
}

.newsLetter-wrapper {
  width: 30%;
  .form-confrm {
    font-family: 'GothamBook';
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
  }
  .form-field {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;

    input {
      border: 0;
      min-width: 200px;
      padding: 0 0 0 15px;
      &::placeholder {
        font-family: 'GothamBook';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #757575;
      }
    }

    button {
      width: 89px;
      height: 44px;
      font-family: 'GothamBook';
      background: linear-gradient(89.96deg, #998ae9 18.53%, #8478ce 131.6%);
      border-radius: 8px;
      color: #ffffff;
      border: none;
      outline: none;
    }
  }
}

.footer-copyright {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-style: normal;
  font-family: 'GothamBook';
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  color: #2c2c2c;
}
