.section-container {
  &.forget-password-container {
    // background-color: rgba(229, 229, 229, 0.6);
    background: #ffffff;

  }
}

.forget-password-wrapper {
  padding: 80px 0 140px 0;
  text-align: center;
  position: relative;
  .forget-password-bg-color-left {
    position: absolute;
    width: 569px;
    height: 592px;
    left: 0px;
    top: 0px;
    background: linear-gradient(89.96deg, #b1a7e4 18.53%, #8478ce 131.6%);
    opacity: 0.7;
    filter: blur(450px);
    -webkit-filter: blur(450px);
}
  .forget-password-bg-color-right {
    position: absolute;
    width: 471px;
    height: 595px;
    right: 0px;
    top: 90px;
    /*GRADIANT3*/background: linear-gradient(180deg, #40fbd7 0%, #fce14d 100%);
    opacity: 0.8;
    filter: blur(450px);
    -webkit-filter: blur(450px);
}


  .heading {
    color: #2c2c2c;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    letter-spacing: 0em;
    position: relative;

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: normal;
    }
  }

  .form-wrapper {
    max-width: 32.5%;
    margin: 0 auto;
    text-align: left;

    @media (max-width: 767px) {
      max-width: 100%;
    }

    .sub-heading {
      margin: 16px 0;
      color: #2c2c2c;
    }

    .submit-btn {
      margin-top: 20px;
    }

    .field-wrapper {
      // position: relative;
      border: 1px solid #b1a7e4;
      box-sizing: border-box;
      /* button */
      filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.04));
      border-radius: 16px;
      height: 78px;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 0 0px 0 20px;
        background-color: transparent;
        // font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        /* identical to box height, or 162% */
        /* font paragraph color */
        color: #757575;
        &::placeholder{
          line-height: normal !important;
        }
      }
      .mail-icon {
        margin-left: 31px;
        img {
        }
        // position: absolute;
        // top: 50%;
        // left: 4%;
        // width: 100px;
        // transform: translateY(-50%);
      }
    }

    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .home-page-link {
    margin-top: 16px;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 492px;
    min-height: 78px;
    color: #2c2c2c;
    border: 1px solid #000000;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
  }
}